main {
  background-color: var(--grey);
}
form div {
  margin: 20px auto;
  width: 270px;
}

form label {
  margin-bottom: 5px;
  display: inline-block;
}

form input,
form select {
  width: 100%;
  height: 38px;
  border: none;
  padding: 0 10px;
}
form textarea {
  height: 100px;
  width: 100%;
  border: none;
  padding: 0 10px;
}
form input[type="checkbox"] {
  height: 26px;
  width: 26px;
}
.form-button {
  text-align: center;
}
.team {
  background-color: #fff;
  padding: 16px;
  margin: 40px 24px 0 24px;
}
.team img {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}
.team h2 {
  text-align: center;
}
.team-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-top: 3px solid var(--grey);
  padding-top: 20px;
}
.team-container p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .form-employee-container {
    display: flex;
    gap: 40px;

    justify-content: center;
  }
}
