:root {
  --orange: #f07b3f;
  --blue: #2d4059;
  --yellow: #ffd460;
  --grey: #f4f4f4;
  --red: #ea5455;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header {
  background-color: var(--blue);
  color: #fff;
  padding: 20px;

  height: 58px;
}
.main-header {
  background-image: url("../images/museum-header.jpg");
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.title-nav-container {
  display: grid;
  grid-template-columns: 78px auto;
}
.title {
  text-align: center;

  font-weight: 300;
}
.title .science span {
  display: inline-block;
  animation: flip 5s infinite;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.title a {
  text-decoration: none;
  color: #fff;
}
.nav-container {
  text-align: right;
  padding-top: 18px;
}

nav,
#menu-checkbox {
  display: none;
}
#menu-checkbox:checked ~ nav {
  display: block;
  position: absolute;
  right: 0;
  top: 98px;
  width: 100%;
  padding: 10px 0;
}
.menu-icon-label i {
  font-size: 28px;
}
nav {
  background-color: #f07b3f;
}

nav a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  text-align: left;
}
.search-bar {
  height: 26px;
  margin: 20px auto 20px auto;
  width: 200px;
  display: block;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
}
.desktop-search-bar {
  display: none;
}
main {
  min-height: 100%;
}
footer {
  background-color: var(--blue);
  height: 350px;
  padding: 20px;
}
.hours {
  color: #fff;
  margin-top: 22px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
.social-container {
  color: #fff;
  font-size: 24px;
  text-align: right;
}
.social-container i {
  margin: 0 5px;
}
.red {
  color: var(--red);
}
.hours-title {
  margin-bottom: 4px;
}
.address {
  margin-bottom: 4px;
}
.link-hours-container {
  color: #fff;
}
.link-hours-container ul {
  margin-bottom: 20px;
}
.buttons {
  background-color: var(--orange);
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 42px;
  width: 150px;
}
.content-item {
  background-color: var(--grey);
  padding: 50px 20px;
}

.content-item.secondary {
  background-color: #fff;
  padding: 50px 20px;
}
.content-item.center {
  text-align: center;
}
.content-item h2 {
  text-align: center;
}
.content-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 100%;
}
.content-item p {
  margin: 25px;
}

.content-item .text-container {
  padding-bottom: 30px;
}

.content-item .ticket-button {
  text-align: center;
}

.content-item .button-container {
  text-align: center;
}
.content-item .ticket-button .buttons {
  height: 62px;
  width: 200px;
  font-size: 24px;
  margin: 0;
}

/*****
Promo item
******/
.promo-item {
  margin: 40px auto;
  background-color: var(--yellow);
  max-width: 400px;
}
.promo-item h2 {
  margin-top: 0;
}
.promo-item img {
  width: 100%;
}
.promo-item a {
  text-decoration: none;
  color: black;
}
.promo-item a:visited {
  color: black;
}
.promo-item:hover {
  opacity: 0.8;
}
.title-text {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  header {
    height: 96px;
    padding: 20px;
  }
  .main-header {
    height: 300px;
  }
  .title-nav-container {
    grid-template-columns: 168px auto;
  }
  .title {
    font-size: 26px;
  }

  .menu-icon-label {
    display: none;
  }
  .nav-container {
    position: absolute;
    top: 60px;
    right: 1px;
  }
  nav a:hover {
    color: var(--orange);
  }
  nav,
  #menu-checkbox:checked ~ nav {
    display: block;
    background: transparent;
    display: grid;
    grid-template-columns: 75px 84px 75px 92px 132px 122px;
  }
  .search-bar {
    display: none;
  }
  .desktop-search-bar {
    display: block;
    position: absolute;
    right: 18px;
  }

  .desktop-search-bar .search-bar {
    display: inline-block;
  }

  footer {
    height: 270px;
  }

  footer a:hover {
    color: var(--orange);
  }
  .social-container {
    margin-right: 60px;
  }
  .link-hours-container {
    display: grid;
    grid-template-columns: 200px 200px auto;
    margin: 30px;
  }
  .hours {
    margin-top: 0;
  }
  .content-item img {
    width: 50%;
    flex: 1;
    max-width: none;
    max-height: 250px;
    object-fit: cover;
  }
  .content-item.secondary .img-text {
    flex-direction: row-reverse;
  }
  .content-item .img-text {
    display: flex;
  }

  .content-item .img-text > div {
    flex: 1;
  }

  .content-item .img-text p {
    max-width: 400px;
  }
  .content-item .button-container {
    text-align: left;
    display: flex;
  }
  .content-item.secondary .button-container {
    text-align: right;
  }

  .content-item .button-container .flex-item {
    flex: 0.5;
    text-align: center;
  }

  .content-item.secondary .button-container {
    flex-direction: row-reverse;
  }
  .promo-item-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    padding: 0 60px;
  }
}
