.main-header {
  background-image: url("../images/museum-header.jpg");
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.images-index-page {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.text {
  font-weight: bold;
  text-align: center;
}

/* .img-text {
  display: grid;
  grid-template-columns: auto auto;
} */
.content-item p {
  text-align: center;
  margin: 25px;
}
.content-item {
  background-color: var(--grey);
}
.content-item.secondary {
  background-color: #fff;
}
.content-item .text-container {
  padding: 40px;
}

.content-item .ticket-button {
  text-align: center;
}
