.content-item-hours,
.content-item-admission {
  margin: 0 auto;
  width: 188px;
}
.content-item-admission {
  max-width: 500px;
  width: auto;
}
.map {
  width: 100%;
  height: 350px;
}
.content-item img.wheelchair {
  object-fit: contain;
}
.transportation {
  margin: 0 auto;
  width: 188px;
}
.entur {
  margin: 0 auto;
  max-width: 500px;
}
@media screen and (min-width: 768px) {
  .map {
    max-width: 500px;
  }
}
